body{
    text-align: center;
    color: rgb(96, 36, 200);
    font-size: 25px;

}
#table{
    width: 120px;
    height: 100px;
    margin: 10px;
    border: solid black 2px;
    background-color: white;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
}