.image {
  max-width: 300px;
  max-height: 300px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 10px auto;
  display: block;
  height: 250px;
  transition: transform 0.3s ease-in-out;
}
h1 {
  display: flex;
  justify-content: center;
  margin: 80px 0px;
  font-size: 35px;
  font-family: "Times New Roman", Times, serif;
}
.image:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.RestaurantContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin: 80px auto;
  max-width: 1000px;
  padding: 0 20px;
  background-color: rgba(255, 255, 255, 0.5); /* Transparentna pozadina */
  backdrop-filter: blur(10px); /* Zamagljivanje */
  border-radius: 5px;
}

.container-image {
  text-align: center;
}

.container-image p {
  font-family: "Times New Roman", Times, serif;
  font-size: 22px;
  color: #333;
  margin-bottom: 10px;
}
