/* Container styles */
.LoginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 350px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  font-family: Arial, sans-serif;
}

/* Header styles */
.header {
  margin-bottom: 20px;
}
.success-message {
  margin-top: 20px;
  color: green;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}

.header .text {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-align: center;
}

/* Inputs container */
.inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 8px 12px;
  background-color: #f9f9f9;
}

.input img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.input input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  background-color: transparent;
}

/* Submit container */
.submit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.submit {
  padding: 0.75rem;
  background-color: #007bff;
  border-radius: 15px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: none;
  border: none;
}
.submit:hover {
  background-color: #0056b3;
}
.gray {
  color: gray;
  background-color: rgb(218, 216, 216);
}
.changeForm {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #797979;
  font-size: 15px;
}
.changeForm span {
  color: blue;
  cursor: pointer;
}
