.profile-container {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  margin: 60px auto;
  max-width: 400px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
}
.profileInput {
  width: 300px;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}
.confirm {
  background-color: rgb(72, 72, 243);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 16px;
}
.confirm:hover {
  cursor: pointer;
  background-color: rgb(56, 56, 241);
  transition: 0.2s ease-in-out, box-shadow 0.2s ease;
}
